/* main */
* {
  font-family: Tahoma, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 50px;
  margin-top: 110px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar, #reviews-list::-webkit-scrollbar {
  width: 18px;
}

body::-webkit-scrollbar-track, #reviews-list::-webkit-scrollbar-track {
  background: lightgrey;
}

body::-webkit-scrollbar-thumb, #reviews-list::-webkit-scrollbar-thumb {
  background-color: #9F2B68;
  border: 3.5px solid lightgrey;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:1199px) {
  #ratings-and-reviews {
    margin-left: auto !important;
  }

  #productDetail {
    margin-left: auto !important;
  }

  #related-products-module {
    margin-left: auto !important;
  }
}

.page-top-bar {
  position: absolute;
  top:0;
  left:0;
  background-color: #9F2B68;
  height: 88px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  user-select: none;
}

.page-title {
  font-size: 60px;
  font-weight: 800;
  text-decoration: underline;
  min-width: fit-content;
  margin: 10px;
  margin-left: 30px;
}

.nav-bar {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 30px;

}

.nav-bar-item {
  font-size: larger;
  margin-right: 10px;
}

.nav-bar-item:hover {
  background-color: black !important;
}

h1 {
  color: white;
  background-color: black;
}

.underline-button {
  border-width: 0px;
  color: black;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  user-select: none;
  padding: 3px;
}

.grey-button {
  color: #424242 !important;
}

.larger-text {
  font-size: larger;
}

.underline-button:hover {
  color: white !important;
  background-color: #9F2B68;
  transition: ease-in-out 0.1s;
}

select {
  cursor: pointer;
}

.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
}

.modal-form {
  display: flex;
  justify-content: space-around;
  height: 75vh;
  width: calc(75vh - 20vh);
  background-color: white;
  flex-direction: column;
  padding: 5%;
  padding-top: 1.5%;
  user-select: none;
}

.form-exit-button {
  font-size: 24px;
  cursor: pointer;
}


/* product detail */
.inactive {
  display: none;
}

.modal-prod-detail {
  display: flex;
}



/* Q&A */





/* ratings & reviews */

[hidden] {
  display: none !important;
}

#ratings-and-reviews {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
  /* border: 3px solid; */
  padding: 20px;
  width: max-content;
}

.reviews {
  margin-top: 20px;
}

.ratings {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-right: 100px;
  min-height: 700px;
  min-width: fit-content;
  user-select: none;
}

#reviews-list {
  max-height: 608px;
  width: 650px;
  overflow-y: overlay;
}

.review-tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
  margin-bottom: 5px;
  width: 90%;
  padding: 15px;
  border: 2px solid #9F2B68;
  box-shadow: 2px 2px 2px #9F2B68;
}

.review-tile> * {
  margin-top: 5px;
  word-break: break-word;
}

.review-tile-rating {
  user-select: none;
}

.review-tile-photos > * {
  margin-right: 5px;
  margin-bottom: 5px !important;
}

.review-summary {
  font-weight: bold;
}

.helpful-report-readmore {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.feedback-report {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  font-style: italic;
  color: grey;
  cursor: default;
}

.feedback-helpful {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: default;
}

.rating-breakdown>* {
  margin-top: 15px;
}

.ratings-product-breakdown {
  height: 305px;
}

.ratings-product-breakdown>* {
  margin-top: 20px;
}

.first-and-last-char {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#rating-filters {
  display: flex;
  flex-flow: row nowrap;
}

.required:after {
  content: " *";
  color: red;
}

.required-guide:before {
  content: "* ";
  color: red;
}

.bigger-radio {
  height: 16px;
  width: 16px;
  accent-color: #9F2B68;
}

.popup-prompt {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  transform: translate(0, 4px);
}

.popup-prompt:before {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  top: -15px;
  left: 8px;
  /* 1px buffer for zooming problems while rendering*/
  border-width: 7px;
  border-color: transparent transparent black transparent;
  border-style: solid;
}

.form-italic {
  font-style: italic;
  color: #424242;
}

.form-stars {
  font-size: xxx-large;
  cursor: pointer;
  padding: 0px;
  border: none;
  background-color: transparent;
}

/* related */
.rating-star {
  align-items: center;
}

.transparent-arrow {
  cursor: default !important
}

.transparent-arrow polygon {
  fill: transparent;
}

.product {
  text-align: center;
  width: 250px;
  height: auto;
}

.table-body {
  text-align: center;
}

.table-component {
  border-style: solid;
  border-radius: 5px;
}


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}