/* main */

body {
  font-family: 'DM sans', Tahoma, sans-serif;
  margin: 50px;
  margin-top: 110px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #9F2B68;
  border: 3.5px solid black;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

*::-webkit-scrollbar-corner {
  background-color: black;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:1205px) {
  #ratings-and-reviews {
    margin-left: auto !important;
  }

  #productDetail {
    margin-left: auto !important;
  }

  #related-products-module {
    margin-left: auto !important;
  }
}

.page-top-bar {
  position: absolute;
  top:0;
  left:0;
  background-color: #9F2B68;
  height: 88px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  user-select: none;
}

.page-title-short {
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: flex-end;
  margin: 11px;
  margin-left: 22px;
  margin-right: 52px;
  color: white;
}

.page-title-short-g {
  font-weight: 500;
  font-size: 48px;
}

.page-title-short-o {
  font-weight: 100;
  font-size: 34px;
  text-decoration: underline;
  margin-left: 4px;
  margin-right: 3px;
  margin-bottom: 23px;
}

.page-title-border {
  position: absolute;
  top: 12px;
  left: 15px;
  border: 3px solid white;
  height: 56px;
  width: 94px;
}

.nav-bar {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 30px;

}

.nav-bar-item {
  font-size: larger;
  margin-right: 10px;
  color: white !important;
}

.nav-bar-item:hover {
  background-color: black !important;
}

h1 {
  color: white;
  background-color: black;
}

select {
  cursor: pointer;
}

.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
}



/* product detail */
.inactive {
  display: none;
}

.modal-prod-detail {
  display: flex;
}



/* Q&A */





/* ratings & reviews */

[hidden] {
  display: none !important;
}

#ratings-and-reviews {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
  padding: 20px;
  width: max-content;
}

.underline-button {
  border-width: 0px;
  color: black;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  user-select: none;
  padding: 3px;
}

.grey-button {
  color: #424242 !important;
}

.larger-text {
  font-size: larger;
}

.underline-button:hover {
  color: white !important;
  background-color: #9F2B68;
  transition: ease-in-out 0.1s;
}

.reviews {
  margin-top: 20px;
}

.ratings {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-right: 100px;
  min-height: 709px;
  min-width: fit-content;
  user-select: none;
}

.reviews-overview-and-sort > * {
  user-select: none;
  margin-right: 10px;
}

.reviews-search {
  margin-top: 5px;
  margin-bottom: 15px;
}

#reviews-list {
  max-height: 593px;
  width: 650px;
  overflow-y: overlay;
  scroll-behavior: smooth;
}

.review-tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
  margin-bottom: 5px;
  width: 90%;
  padding: 15px;
}

.review-tile> * {
  margin-top: 5px;
  word-break: break-word;
}

.review-tile-top-bar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.review-tile-date {
  font-style: italic;
  color: grey;
}

.review-tile-rating {
  user-select: none;
}

.review-tile-photos > * {
  margin-right: 5px;
  margin-bottom: 5px !important;
}

.review-summary {
  font-weight: bold;
}

.helpful-report-readmore {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.feedback-report {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  font-style: italic;
  color: grey;
  cursor: default;
}

.feedback-helpful {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: default;
}

.rating-breakdown>* {
  margin-top: 15px;
}

.ratings-product-breakdown {
  height: 305px;
}

.ratings-product-breakdown>* {
  margin-top: 20px;
}

.first-and-last-char {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#rating-filters {
  display: flex;
  flex-flow: row nowrap;
}

.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
}

.modal-form {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 85vh;
  width: 61vh;
  background-color: white;
  flex-direction: column;
  padding: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  user-select: none;
  overflow-y: overlay;
}

.required-guide {
  margin-bottom: 10px;
  color: grey !important;
}

.required:after {
  content: " *";
  color: red;
}

.required-guide:before {
  content: "* ";
  color: red;
}

.bigger-radio {
  height: 16px;
  width: 16px;
  accent-color: #9F2B68;
}

.popup-prompt {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  transform: translate(0, 4px);
}

.popup-prompt:before {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  top: -15px;
  left: 8px;
  /* 1px buffer for zooming problems while rendering*/
  border-width: 7px;
  border-color: transparent transparent black transparent;
  border-style: solid;
}

.write-review-header {
  text-align: center;
  font-size: xx-large;
}

.form-exit-button {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 46px;
  cursor: pointer;
  color: #aaa;
  font-weight: bold;
}

.form-exit-button:hover {
  color: black;
}

.form-italic {
  font-style: italic;
  color: #424242;
}

.form-stars {
  font-size: xxx-large;
  cursor: pointer;
  padding: 0px;
  border: none;
  background-color: transparent;
}

#star-buttons {
  margin-top: -10px;
}

.write-review-submitted {
  color: white !important;
  background-color: #9F2B68;
}

/* related */

.related {
  text-align: center;
}

.outfit {
  text-align: center;
}

.rating-star {
  align-items: center;
}

.transparent-arrow {
  cursor: default !important
}

.transparent-arrow polygon {
  fill: transparent;
}

.product {
  text-align: center;
  width: 250px;
  height: auto;
}

.table-body {
  text-align: center;
}

.table-component {
  border-style: solid;
  border-radius: 5px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}