/* main */
body {
  margin: 50px;
}

h1 {
  color: white;
  background-color: black;
}

.pretty-header {
  color: blue;
}

.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.625);
}

.modal-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 60%;
}


/* product detail */





/* Q&A */





/* ratings & reviews */

.reviews-tile {
  margin-top: 30px
}

.reviews-tile > * {
  margin: 0px;
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.clicked-link-button {
  color: purple;
}


/* related */

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.product {
  text-align: center;
  width: 250px;
  height: auto;
}
