/* main */
* {
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  margin: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
  color: white;
  background-color: black;
}

.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.625);
}

.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
}

.modal-form {
  display: flex;
  justify-content: space-around;
  height: 75vh;
  width: calc(75vh - 20vh);
  background-color: white;
  flex-direction: column;
  padding: 5%;
  padding-top: 1.5%;
  border: 3px solid black;
  border-radius: .5%;
}

.modal-exit-button {
  font-size: 24px;
  cursor: pointer;
}


/* product detail */
.inactive {
  display: none;
}




/* Q&A */





/* ratings & reviews */

[hidden]{
  display:none !important;
}

#ratings-and-reviews {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}

.ratings {
  margin-right: 100px;
  min-height: 665px;
  min-width: fit-content;
}

.reviews-list {
  max-height: 600px;
  width: 650px;
  overflow-y: overlay;
}

.reviews-tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  width: 95%
}

.reviews-tile>* {
  margin: 0px;
}

.helpful-report-readmore {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.clicked-link-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: purple;
  text-decoration: underline;
  cursor: pointer;
}

#rating-filters {
  display: flex;
  flex-flow: row nowrap;
}

.required:after {
  content:" *";
  color: red;
}

.required-guide:before {
  content:"* ";
  color: red;
}

.popup-prompt {
  position:absolute;
  background-color: white;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  transform: translate(0, 4px);
}

.popup-prompt:before {
  content:"";
  position: absolute;
  height: 0px;
  width: 0px;
  top: -15px;
  left: 8px; /* 1px buffer for zooming problems while rendering*/
  border-width: 7px;
  border-color: transparent transparent black transparent;
  border-style: solid;
}

/* related */
.transparent-arrow {
  cursor: default !important
}

.transparent-arrow polygon{
  fill: transparent;
}


.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  align-self: flex-end;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.product {
  text-align: center;
  width: 250px;
  height: auto;
}

.table-body {
  text-align: center;
}

.table-component {
  border-style: solid;
  border-radius: 5px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}